{% extends "app/base.html" %}
{% load static %}
{% block title %}Roles{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'role.css' %}">
<h1></h1>
<p>Member Name:</p>
<input type="text", placeholder="Search" id="search-input">
<div id="membername">

</div>
<p id="pmember"></p>
<p>Roles:</p>
<p id="roles-list"><button id="b1" style="display: none;">Add Members</button><button id="b2" style="display: none;">Reallocate Members</button><button id="b3" style="display: none;">Remove Members</button><button id="b4" style="display: none;">Edit Event</button></p>
<select name="Roles" id="roles">
    {% if 1 %}
    <option id="o1" value="1">Can Accept Joinees</option>
    {% endif %}
    {% if 2 %}
    <option id="o2" value="2">Allow Notifications</option>
    {% endif %}
    {% if 3 %}
    <option id="o3" value="3">Remove Members</option>
    {% endif %}
    {% if 4 %}
    <option id="o4" value="4">Edit Event</option>
    {% endif %}
</select>
<div id="timer-start" data-value="{{ timer_start }}"></div>
<div id="timer-duration" data-value="{{ duration }}"></div>
<div id="modalOuterEndEvent" style="display: none;">
    <div id="modalInnerEndEvent">
        <p>The event is over now. A report of the event has been generated in the form of an Excel sheet.</p>
        <button id="check-report-btn">Check Report</button>
    </div>
</div>
<button id="assign-btn">Assign</button>
<p id="for-button"></p>



    <script src="{% static 'role.js' %}"></script>

{% endblock %}   